{{!-- ACA ESTAN TODOS LOS CARRITOS SEGUN SU ID SELECCIONADO --}}
<section class="section-carts">

    <div class="container">
        <div class="row">

            {{!-- <h2 class="titulo-cart">Carrito seleccionado por su _ID con su/s respectivo/s producto/s agregado/s.
            </h2> --}}
            <h2 style="text-align: center;" class="titulo-cart">Carrito de compras asociado a: {{datos.[9]}} </h2>

            <div class="carrito-seleccionado">
                <h4 class="cart-selected">Carrito seleccionado _id: <span class="cart-texto">{{datos.[7]}} </h4>
                <h4 class="cart-title"> Contenido del carrito </h4>
            </div>

            <div class="col-12 contenedor-carts">

                <div class="col-12">
                    <table style="margin-top: 3.5%;" class="table table-striped col-12">
                        <thead>
                            <tr>
                                <th scope="col">ID del producto</th>
                                <th scope="col">Title</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each datos.[1]}}
                            <tr>
                                <th scope="row">{{this}}</th>
                                <td>{{lookup ../datos.[2] @index}}</td>
                                <td>{{lookup ../datos.[3] @index}}</td>
                                <td>${{lookup ../datos.[4] @index}}</td>
                                <td>${{lookup ../datos.[5] @index}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="contenedor-precio-final">
                <h4 class="precio-final">Precio total de todos los productos: <span
                        class="precio-final-texto">${{datos.[6]}}</span> </h4>
            </div>

            <button type="submit" class="btn btn-primary"> Terminar compra </button>

            {{!-- <h1> {{datos.[10]}} </h1>
            <h1> {{datos.[11]}} </h1>
            <h1> {{datos.[12]}} </h1>
            <h1> {{datos.[13]}} </h1> --}}

            {{!-- <div class="totalidad-carritos">
                <p class="totalidad-carritos-texto">Para evitar que busque los _id en "/api/cartsDB", aca le dejo el .id
                    de todos los carritos en existencia</p>
                <div class="totalidad-carritos-lista">
                    <ul>
                        {{#each datos.[8] }}
                        <li> Carrito por _id: <span class="bucle-carritos-id"> {{this}} </span> </li>
                        {{/each }}
                    </ul>
                </div>
            </div> --}}

        </div>
    </div>

</section>