<div>
    {{!-- <div class="header-mongodb">
        <div>
            <a href="/api/session/logout" class="btn btn-danger" id="log">LOGOUT</a>
            <a href="/home-mongodb" class="btn btn-primary">Ir a la seccion de productos</a>
            <a href="/completed/purchase" class="btn btn-warning bc">Ir al historial de compras</a>
            <a href="/api/users/documents" class="btn btn-info bc">Cambiar foto de perfil</a>
        </div>
        <div style="display: flex">
            <div style="display: flex; align-items:center">
                <p style="font-size: 1.4rem;
                            color: blue;
                            font-weight: bolder;
                            position: relative;
                            right: 10%;" class="texto-perfil"> Usuario: {{role.[2]}} </p>
            </div>
            {{#if role.[6] }}
            <a href="api/users/documents">
                <img class="cuadro-foto-perfil" src="{{role.[5]}}" alt="Foto de perfil">
            </a>
            {{else}}
            <a href="api/users/documents">
                <img class="cuadro-foto-perfil" src="/img/foto-anonima.jpg" alt="Foto de perfil">
            </a>
            {{/if}}
        </div>
    </div> --}}

    {{> headerPrueba}}

    <div class="sub-header">
        <div class="uid">
            <p class="uid-texto"> UID: {{role.[7]}} </p>
        </div>
        <div class="carrito-compras">
            <a href="/carts/{{role.[8]}}/purchase" class="carrito-compras-a">Ir al carrito de compras 🛒 </a>
        </div>
        <div class="photo">
            {{#if role.[9] }}
            <a class="photo-a" href="/api/users/documents">
                <span class="photo-texto"> {{role.[11]}} </span>
                <img class="photo-profile" src="{{role.[10]}}" alt="Foto de perfil">
            </a>
            {{else}}
            <a class="photo-a" href="api/users/documents">
                <span class="photo-texto"> {{role.[11]}} </span>
                <img class="photo-profile" src="/img/foto-anonima.jpg" alt="Foto de perfil">
            </a>
            {{/if}}
        </div>
    </div>

    <div class="container changeRole">
        <h4 class="text-center titlee"> Pagina para cambiar tu rol de usuario. <br>
            Actualmente es de: "{{role.[0]}}"
        </h4>

        {{#if role.[4]}}
        <div class="contenedor">
            <p class="texto mb-2 mt-5" style="color: blue;"> Ahora que completaste los datos con tu DNI y tu domicilio; </p>
            <p class="texto">¿Querés cambiar tu rol de: "{{role.[0]}}" a un rol de "{{role.[3]}}"?</p>
            <a onclick="changeYes()" class="btn btn-primary si"> Si </a>
            <a onclick="changeNo()" class="btn btn-danger si"> No </a>
        </div>

        <div class="img">
            <img src="https://i.pinimg.com/564x/fa/b5/9e/fab59e8f321031810b4788a3d9d18f91.jpg" alt="Pikachu pensando"
                class="img-img">
        </div>
        {{else}}
        <div style="margin: auto; width: 50%">
            <h3 class="text-center mt-5 mb-3" style="font-size: 1.4rem;color: blue"> Para poder cambiarte a un rol premium, por favor, primero llena
                el
                formulario con
                tus datos </h3>
            <form action="/api/user/data" method="post" onsubmit="enviarDatos()">
                <div class="form-group">
                    <label for="identificacion" style="font-weight: 700; font-size: 1.2rem">Ingrese su DNI</label>
                    <input required placeholder="Ejemplo: 45234232" class="form-control" type="number"
                        name="identificacion" id="identificacion">
                </div>
                <div class="form-group">
                    <label for="domicilio" style="font-weight: 600; font-size: 1.1rem">Ingrese su domicilio</label>
                    <input required placeholder="Ejemplo: Avenida Siempre Viva 123" class="form-control"="text"
                        name="domicilio" id="domicilio">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
</div>

{{> footerPrueba}}