<div class="container">

    <h2 class="title-compra-realizada">¡¡¡Felicidades por termina tu compra!!!</h2>

    <h5 class="subtitle-compra-realizada">Tu ultimo ticket de compra se encuentra acá abajo 👇 </h5>

    <div class="col-12">
        <table style="margin-top: 3.5%;" class="table table-striped col-12">
            <thead>
                <tr>
                    <th scope="col">_id</th>
                    <th scope="col">Code</th>
                    <th scope="col">Purchase datatime</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Email del comprador</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ticket._id}} </td>
                    <td> {{ticket.code}} </td>
                    <td> {{ticket.purchase_dateTime}} </td>
                    <td> {{ticket.amount}} </td>
                    <td> {{ticket.purchaser}} </td>
                </tr>
            </tbody>
        </table>
    </div>

<div class="a-compra-realizada">
    <a href="/home-mongodb" class="btn btn-primary">Volver a la sección de productos</a>
</div>

</div>