<div>

    {{> headerPrueba}}

    <div class="sub-header">
        <div class="uid">
            <p class="uid-texto"> UID: {{datito.[2]}} </p>
        </div>
        <div class="carrito-compras">
            <a href="/carts/{{datos.cart}}/purchase" class="carrito-compras-a">Ir al carrito de compras  </a>
        </div>
        {{#if datito.[3]}}
        <div class="carrito-compras">
            <a class="carrito-compras-a-users" href="/api/users"> Modificar usuarios </a>
        </div>
        {{/if}}
        <div class="photo">
            {{#if datito.[1] }}
            <a class="photo-a" href="/api/users/documents">
                <span class="photo-texto"> {{datos.email}} </span>
                <img class="photo-profile" src="{{datito.[0]}}" alt="Foto de perfil">
            </a>
            {{else}}
            <a class="photo-a" href="/api/users/documents">
                <span class="photo-texto"> {{datos.email}} </span>
                <img class="photo-profile" src="/img/foto-anonima.jpg" alt="Foto de perfil">
            </a>
            {{/if}}
        </div>
    </div>

    <section class="section-current">
        <div class="container">
            <h3 class="titlee" style="margin-bottom: 5%;">Tus datos de usuario</h3>

            <div class="data-card">

                <div class="card" style="width: 18rem;">
                    <img class="photo-profile" src="{{datito.[0]}}" alt="Foto de perfil">
                    {{#if datito.[1]}}
                    {{else}}
                    <img src="/img/foto-anonima.jpg" class="card-img-top" alt="Foto de perfil">
                    {{/if}}
                    <div class="card-body">
                        <h5 class="card-title"> {{datos.email}} </h5>
                        <p class="card-text texto">Nombre: {{datos.first_name}} </p>
                        <p class="card-text texto">Apellido: {{datos.last_name}} </p>
                        <p class="card-text texto">Rol: {{datos.role}} </p>
                        <p class="card-text texto">UID: {{datito.[2]}} </p>
                        <p class="card-text texto">Edad: {{datos.age}} </p>
                        <p class="card-text texto">DNI: {{datos.dni}} </p>
                        <p class="card-text texto">Domicilio: {{datos.domicilio}} </p>
                        <p class="card-text texto">Cart: {{datos.cart}} </p>
                        <p class="card-text texto">Document: {{datos.document}} </p>
                        <p class="card-text texto">ltima conexi贸n: {{datos.last_connection}} </p>
                    </div>
                </div>
                <div class="data-session-current">
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu email de sessi贸n con Json Web Token es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu nombre de sesi贸n con Json Web Token es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.first_name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu apellido de sesi贸n con Json Web Token es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.last_name}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu edad de sesi贸n con Json Web Token es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.age}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu DNI es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.dni}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu domicilio es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.domicilio}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu rol de sesi贸n con Json Web Token es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.role}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">El _id de tu cart es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.cart}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">El _id del document donde se guardar谩n todas las fotos es: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.document}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="data">
                        <div class="data-key">
                            <p class="text">Tu 煤ltima conexi贸n fue: </p>
                        </div>
                        <div class="data-key">
                            <p class="text">{{datos.last_connection}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</div>

{{> footerPrueba}}