<section class="section-current">
    <div class="container">

        <h3 class="current-title">Tus datos de usuario vistos en "/api/session/current" con middleware de autenticación de JWT.</h3>

        <p class="data-current"> Tu email de sesión con Json Web Token es: <span class="data-dos-current"> {{datos.email}}.

        <p class="data-current"> Tu nombre de sesión con Json Web Token es: <span class="data-dos-current"> {{datos.firstName}}.

        <p class="data-current"> Tu apellido de sesión con Json Web Token es: <span class="data-dos-current"> {{datos.lastName}}.

        <p class="data-current"> Tu edad de sesión con Json Web Token es: <span class="data-dos-current"> {{datos.age}} años.

        <p class="data-current"> Tu rol de sesión con Json Web Token es: <span class="data-dos-current"> {{datos.role}}.

        <p class="data-current"> El ._id de tu cart generado con Json Web Token es: <span class="data-dos-current"> {{datos.cart}}.
            </span> </p>

            <p class="data-current">- Accediste a esta pagina gracias a Json Web Token.</p>
            
            <p class="data-current">- Ademas tu contraseña esta hasheada con bcrypt y leída en el login con el metodo "compareSync" de bcrypt. </p>

        <img class="img-current" src="https://i.pinimg.com/564x/93/c2/98/93c298c36aca5b3950486fa07aa7c2af.jpg"
            alt="Pikachu feliz">

        <a href="/api/session/logout" class="btn btn-danger logout-current">Logout</a>

    </div>
</section>