<section style="background-color: {{colores.[0]}}">
    <div class="container">

        <h3 style="color: {{colores.[1]}}">Estos son los datos del usuario que se acaba de registrar.</h3>

        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>
        <p class="text-cemter" style="color: {{colores.[1]}}"> hola holaholaholaholaholaholaholaholaholaholahola  </p>

    </div>
</section>