<section class="pageGithub">

    {{> headerPrueba}}

    <div class="container">

        <h3 class="titlee mt-4"> ¡Hola! Estás dentro de la session de Github. </h3>


        <div class="card text-center" style="margin-top: 5%;">
            <div class="card-header" style="font-weight: 700; font-size: 1.4rem">
                ¡Hola usuario de Github; {{user.[3]}}!
            </div>
            <div class="card-body">
                <h5 class="card-title"> Éstos son tus datos de usuario: </h5>
                <p class="card-text">Nombre de usuario: {{user.[2]}} </p>
                <p class="card-text">Edad: {{data.edad}} </p>
                <p class="card-text">Rol: {{data.role}} </p>
                <p class="card-text">Cart: {{data.cart}} </p>
                <p class="card-text">Document: {{data.documents}} </p>
                <p class="card-text">DNI: {{data.dni}} </p>
                <p class="card-text">Domicilio: {{data.domicilio}} </p>
            </div>
            <div class="card-footer text-body-secondary">
                {{data.ultimaConexion}}
            </div>
        </div>

    </div>
</section>

{{> footerPrueba}}


<script src="/socket.io/socket.io.js"></script>
<script src="../Routes/views.router.js"></script>
<script src="/js/index.js"></script>