<section>

    <h1>Lista de productos leída desde en MongoDB Atlas</h1>
    <h6 style="text-align: center; font-size: 1.6rem"> Esta base de datos esta leida directamente desde <span
            style="color:red;">MongoDB Atlas</span></h6>

    <div class="container">
        <div class="row">

            <table style="margin-top: 3.5%;" class="table table-striped col-12">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productossFull.[0]}}
                    <tr>
                        <th scope="row">{{this}}</th>
                        <td>{{lookup ../productossFull.[1] @index}}</td>
                        <td>{{lookup ../productossFull.[2] @index}}</td>
                        <td>{{lookup ../productossFull.[3] @index}}</td>
                        <td>{{lookup ../productossFull.[4] @index}}</td>
                        <td>{{lookup ../productossFull.[5] @index}}</td>
                        <td>{{lookup ../productossFull.[6] @index}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <h2 class="text-center mt-4 mb-4 ">Formulario para agregar mas productos o eliminar uno segun ID. <span
                    style="color:red">(Se actualiza en tiempo real)</span></h2>

            <div style="display: flex; justify-content: space-evenly">

                <div class="mb-4" style="width: 30%">

                    <b style="font-size: 1.5rem;">Todos los campos son obligatorios.</b>

                    <form action="/home-mongodb" method="POST">
                        <label for="title">title:</label>
                        <input type="text" name="title" required>
                        <br>
                        <label for="description">description: </label>
                        <input type="text" name="description" required>
                        <br>
                        <label for="code">code:</label>
                        <input type="text" name="code" required>
                        <br>
                        <label for="price">price:</label>
                        <input type="number" name="price" required>
                        <br>
                        <label for="stock">stock:</label>
                        <input type="number" name="stock" required>
                        <br>
                        <label for="category">category:</label>
                        <input type="text" name="category" required>
                        <br>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>

                </div>

                <div class="mb-4" style="width: 30%">

                    {{!-- <label for="id">Ingrese el ID del producto a eliminar:</label>
                    <input type="text" id="idMongo" name="id" required>
                    <button type="submit" id="boton-eliminar-mongo" class="btn btn-primary">Eliminar producto</button>
                    --}}
                    <label for="id">Ingrese el ID del producto a eliminar:</label>
                    <input type="text" id="idMongo" name="id" required>
                    <button type="submit" id="boton-mongo" class="btn btn-primary">Eliminar producto</button>



                </div>

            </div>
        </div>

</section>

  <script src="/socket.io/socket.io.js"></script>
<script src="../Routes/views.router.js"></script>
<script src="/js/index.js"></script>