<section id="section-mongodb" class="product-mongodb">

    <div class="header-mongodb">
        <div>
            <a href="/api/session/logout" class="btn btn-primary" id="log">LOGOUT</a>
            <a href="completed/purchase" class="btn btn-warning bc">Ir al historial de compras</a>
            <a href="/api/users/premium" class="btn btn-danger bc">Cambiar rol de usuario</a>
            <a href="api/users/documents" class="btn btn-info bc">Cambiar foto de perfil</a>
        </div>
        <div style="display: flex">
            <div style="display: flex; align-items:center">
                <p class="texto-perfil"> Usuario: {{productossFull.[7]}} </p>
            </div>
            {{#if productossFull.[25] }}
            <a href="api/users/documents">
                <img class="cuadro-foto-perfil" src="{{productossFull.[24]}}" alt="Foto de perfil">
            </a>
            {{else}}
            <a href="api/users/documents">
                <img class="cuadro-foto-perfil" src="/img/foto-anonima.jpg" alt="Foto de perfil">
            </a>
            {{/if}}
        </div>
    </div>

    {{#if productossFull.[9] }}
    <div class="datos-session-mongoDB">
        <h2 style="text-align: center; font-weigth: bolder; font-size: 3.5rem; margin-top: 1%">Bienvenido/a usuario de
            MongoDB Atlas:
            {{productossFull.[7]}} </h2>
        <h3 style="text-align: center; font-weigth: bolder; font-size: 2.8rem; margin-top: 1%; color: blue">
            Tu rol es de: {{productossFull.[16]}} </h3>
        <h4 data-otro-valor="{{productossFull.[13]}}" style="text-align: center; font-size: 2rem; font-weight: 600"> El
            _ID de tu carrito es:
            {{productossFull.[13]}} </h4>
        <h4 style="text-align: center; font-size: 2rem; font-weight: 600; color:red">
            {{productossFull.[23]}}
        </h4>
        <div class="div-boton-cart">
            <a href="/carts/{{productossFull.[13]}}/purchase" class="btn btn-primary bc">Ir al carrito de compras</a>
        </div>
    </div>
    {{else}}
    <div class="datos-session-github">
        <h2 style="text-align: center; font-weigth: bolder; font-size: 3.5rem; margin-top: 1%">Bienvenido/a usuario de
            Github: {{productossFull.[12]}} </h2>
        <h2 style="text-align: center; font-weigth: bolder; font-size: 3.5rem; margin-top: 1%">Tu email es:
            {{productossFull.[10]}} </h2>
        <h3 style="text-align: center; font-weigth: bolder; font-size: 2.8rem; margin-top: 1%; color: blue">
            Y tu edad es: {{productossFull.[11]}} </h3>
    </div>
    {{/if}}


    <h1>Lista de productos leída desde en MongoDB Atlas</h1>
    <h6 style="text-align: center; font-size: 1.6rem"> Esta base de datos esta leida directamente desde <span
            style="color:red;">MongoDB Atlas</span></h6>
    <h6 class="text-center"> *El dropdown de abajo tiene filtros para filtrar los productos segun tu necesidad*</h6>

    <div class="container">
        <div class="row">

            <div class="dropdown mb-5">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Filtros
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home-mongodb?sort=title"> Orden alfabetico </a></li>
                    <li><a class="dropdown-item" href="/home-mongodb?sort=price"> Menor precio </a></li>
                    <li><a class="dropdown-item" href="/home-mongodb?sort=-price"> Mayor precio </a></li>
                </ul>
            </div>

            <h5 class="text-center" style="font-size: 1.6rem; font-weight: bolder; color: brown">
                ** Recordatorio: los productos que agregues solo vos y el admin podran eliminarlos,
                y tampoco podras agregarlos al carrito. **</h5>

            <div class="col-12">
                <table style="margin-top: 3.5%;" class="table table-striped col-12">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Code</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Category</th>
                            <th scope="col">Owner</th>
                            {{#if productossFull.[15]}}
                            <th>Agregar al carrito</th>
                            {{/if}}

                            <th> Eliminar producto </th>

                        </tr>
                    </thead>
                    {{#if productossFull.[15]}}
                    <tbody>
                        {{#each productossFull.[0]}}
                        <tr>
                            <th scope="row">{{this}}</th>
                            <td>{{lookup ../productossFull.[1] @index}}</td>
                            <td>{{lookup ../productossFull.[2] @index}}</td>
                            <td>{{lookup ../productossFull.[3] @index}}</td>
                            <td>{{lookup ../productossFull.[4] @index}}</td>
                            <td>{{lookup ../productossFull.[5] @index}}</td>
                            <td>{{lookup ../productossFull.[6] @index}}</td>
                            <td>{{lookup ../productossFull.[19] @index}}</td>
                            <td>
                                <button class="btn btn-info" id="boton-add" onclick="funcionAddToCart('{{lookup ../productossFull.[0] @index}}', 
                                    '{{lookup ../productossFull.[14] @index}}',
                                    '{{lookup ../productossFull.[22] @index}}',
                                    '{{lookup ../productossFull.[19] @index}}'
                                    )">Add to cart</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" id="button-delete" onclick="deleteProductById('{{lookup ../productossFull.[19] @index}}', 
                                    '{{lookup ../productossFull.[0] @index}}',
                                    '{{lookup ../productossFull.[22] @index}}'
                                    )">
                                    Delete Product</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    {{else}}
                    <tbody>
                        {{#each productossFull.[0]}}
                        <tr>
                            <th scope="row">{{this}}</th>
                            <td>{{lookup ../productossFull.[1] @index}}</td>
                            <td>{{lookup ../productossFull.[2] @index}}</td>
                            <td>{{lookup ../productossFull.[3] @index}}</td>
                            <td>{{lookup ../productossFull.[4] @index}}</td>
                            <td>{{lookup ../productossFull.[5] @index}}</td>
                            <td>{{lookup ../productossFull.[6] @index}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>

            <div class="col-12" style="display: flex; justify-content: space-between; margin-bottom: 1.8%">
                {{#if datosExtras.[5]}}
                <a href="/home-mongoDB?sort={{sort}}&page={{datosExtras.[7]}}" class="btn btn-danger">Página
                    anterior</a>
                {{/if}}
                {{#unless datosExtras.[5]}}
                <button disabled class="btn btn-danger">Página anterior</button>
                {{/unless}}

                <div class="numeros-paginacion">
                    <span style="color: red;"> {{datosExtras.[3]}} <span
                            style="color: gray; font-weight: 600; font-size: 1.2rem">de</span> </span>
                    <span> {{datosExtras.[2]}} </span>
                </div>

                {{#if datosExtras.[6]}}
                <a href="/home-mongoDB?sort={{sort}}&page={{datosExtras.[8]}}" class="btn btn-danger">Página
                    siguiente</a>
                {{/if}}
                {{#unless datosExtras.[6]}}
                <button disabled class="btn btn-danger">Página siguiente</button>
                {{/unless}}

            </div>

            <div class="contenedor-datos-extras-paginate col-12">
                <h3>Datos extras de Paginate de Mongoose</h3>
                <p> totalDocs: {{datosExtras.[0]}} </p>
                <p> limit: {{datosExtras.[1]}} </p>
                <p> totalPages: {{datosExtras.[2]}} </p>
                <p> page: {{datosExtras.[3]}} </p>
                <p> pagingCounter: {{datosExtras.[4]}} </p>
                <p> hasPrevPage: {{datosExtras.[5]}} </p>
                <p> hasNextPage: {{datosExtras.[6]}} </p>
                <p> prevPage: {{datosExtras.[7]}} </p>
                <p> nextPage: {{datosExtras.[8]}} </p>
            </div>

            {{#if datosExtras.[9]}}
            <div>
                <h2 class="text-center mt-4 mb-4 ">Formulario para agregar mas productos o eliminar uno segun su _id.
                    <span style="color:red">(Se actualiza en tiempo real). <br> Tu rol es de: {{productossFull.[16]}}
                    </span>
                </h2>

                <div class="col-12" style="display: flex; justify-content: space-evenly">

                    <div class="mb-4" style="width: 30%">
                        <b style="font-size: 1.5rem;">Todos los campos son obligatorios.</b>

                        <form action="/home-mongodb" method="POST">
                            <label for="title">title:</label>
                            <input type="text" name="title" required>
                            <br>
                            <label for="description">description: </label>
                            <input type="text" name="description" required>
                            <br>
                            <label for="code">code:</label>
                            <input type="text" name="code" required>
                            <br>
                            <label for="price">price:</label>
                            <input type="number" name="price" required>
                            <br>
                            <label for="stock">stock:</label>
                            <input type="number" name="stock" required>
                            <br>
                            <label for="category">category:</label>
                            <input type="text" name="category" required>
                            <br>
                            <label for="category">owner:</label>
                            <input type="text" name="owner" value="{{productossFull.[20]}}" readonly>
                            <br>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </form>
                    </div>
                </div>

                {{else}}

                <h4 class="title-bloqueo-crud"> ¡Disculpanos! Al tener un rol "{{productossFull.[16]}}" no tenes derecho
                    a agregar o eliminar
                    productos 🛑 </h4>
                {{/if}}

            </div>


        </div>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="../Routes/views.router.js"></script>
<script src="/js/index.js"></script>