<section id="section-mongodb" class="product-mongodb">

    {{> headerPrueba}}

    <div class="sub-header">
        <div class="uid">
            <p class="uid-texto"> UID: {{productossFull.[27]}} </p>
        </div>
        <div class="carrito-compras">
            <a href="/carts/{{productossFull.[13]}}/purchase" class="carrito-compras-a">Ir al carrito de compras 🛒 </a>
        </div>

        {{#if productossFull.[28]}}
        <div class="carrito-compras">
            <a class="carrito-compras-a-users" href="/api/users"> Modificar usuarios </a>
        </div>
        {{/if}}

        <div class="photo">
            {{#if productossFull.[25] }}
            <a class="photo-a" href="/api/users/documents">
                <span class="photo-texto"> {{productossFull.[7]}} </span>
                <img class="photo-profile" src="{{productossFull.[24]}}" alt="Foto de perfil">
            </a>
            {{else}}
            <a class="photo-a" href="/api/users/documents">
                <span class="photo-texto"> {{productossFull.[7]}} </span>
                <img class="photo-profile" src="/img/foto-anonima.jpg" alt="Foto de perfil">
            </a>
            {{/if}}
        </div>
    </div>

    <h1 style="margin: 0; padding: 0" class="mb-4 titlee">Catálogo de productos</h1>

    <div class="container">
        <div class="row">

            <h5 class="text-center"
                style="font-size: 1.2rem; font-weight: 700; font-family: 'Great Vibes', cursive;color: red">
                *** Recordatorio: los productos que agregues solo VOS y el ADMIN podran eliminarlos,
                y tampoco podras agregarlos al carrito. ***</h5>

            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Filtros
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/home-mongodb?sort=title"> Orden alfabetico </a></li>
                    <li><a class="dropdown-item" href="/home-mongodb?sort=price"> Menor precio </a></li>
                    <li><a class="dropdown-item" href="/home-mongodb?sort=-price"> Mayor precio </a></li>
                </ul>
            </div>

            <div class="col-12">
                <table style="margin-top: 3.5%;" class="table table-striped col-12">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Code</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Category</th>
                            <th scope="col">Owner</th>
                            {{#if productossFull.[15]}}
                            <th>Agregar al carrito</th>
                            {{/if}}

                            <th> Eliminar producto </th>

                        </tr>
                    </thead>
                    {{#if productossFull.[15]}}
                    <tbody>
                        {{#each productossFull.[0]}}
                        <tr>
                            <th scope="row">{{this}}</th>
                            <td>{{lookup ../productossFull.[1] @index}}</td>
                            <td>{{lookup ../productossFull.[2] @index}}</td>
                            <td>{{lookup ../productossFull.[3] @index}}</td>
                            <td>{{lookup ../productossFull.[4] @index}}</td>
                            <td>{{lookup ../productossFull.[5] @index}}</td>
                            <td>{{lookup ../productossFull.[6] @index}}</td>
                            <td>{{lookup ../productossFull.[19] @index}}</td>
                            <td>
                                <button class="btn btn-info" id="boton-add" onclick="funcionAddToCart('{{lookup ../productossFull.[0] @index}}', 
                                    '{{lookup ../productossFull.[14] @index}}',
                                    '{{lookup ../productossFull.[22] @index}}',
                                    '{{lookup ../productossFull.[19] @index}}'
                                    )">Add to cart</button>
                            </td>
                            <td>
                                <button class="btn btn-danger" id="button-delete" onclick="deleteProductById('{{lookup ../productossFull.[19] @index}}', 
                                    '{{lookup ../productossFull.[0] @index}}',
                                    '{{lookup ../productossFull.[22] @index}}'
                                    )">
                                    Delete Product</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    {{else}}
                    <tbody>
                        {{#each productossFull.[0]}}
                        <tr>
                            <th scope="row">{{this}}</th>
                            <td>{{lookup ../productossFull.[1] @index}}</td>
                            <td>{{lookup ../productossFull.[2] @index}}</td>
                            <td>{{lookup ../productossFull.[3] @index}}</td>
                            <td>{{lookup ../productossFull.[4] @index}}</td>
                            <td>{{lookup ../productossFull.[5] @index}}</td>
                            <td>{{lookup ../productossFull.[6] @index}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>

            <div class="col-12" style="display: flex; justify-content: space-between; margin-bottom: 1.8%">
                {{#if datosExtras.[5]}}
                <a href="/home-mongoDB?sort={{sort}}&page={{datosExtras.[7]}}" class="btn btn-danger">Página
                    anterior</a>
                {{/if}}
                {{#unless datosExtras.[5]}}
                <button disabled class="btn btn-danger">Página anterior</button>
                {{/unless}}

                <div class="numeros-paginacion">
                    <span style="color: red;"> {{datosExtras.[3]}} <span
                            style="color: gray; font-weight: 600; font-size: 1.2rem">de</span> </span>
                    <span> {{datosExtras.[2]}} </span>
                </div>

                {{#if datosExtras.[6]}}
                <a href="/home-mongoDB?sort={{sort}}&page={{datosExtras.[8]}}" class="btn btn-danger">Página
                    siguiente</a>
                {{/if}}
                {{#unless datosExtras.[6]}}
                <button disabled class="btn btn-danger">Página siguiente</button>
                {{/unless}}

            </div>

            {{#if datosExtras.[9]}}
            <div class="col-12">
                <hr class="col-12">
                <h2 class="col-12 text-center mt-4 mb-5 ">Formulario para agregar nuevos productos.
                    <span style="color:red; "><br> Tu rol es de: {{productossFull.[16]}}
                    </span>
                </h2>

                <div class="col-12" style="display: flex; justify-content: space-evenly">

                    <div style="width: 50%">
                        <b class="text-center mb-2" style="font-size: 1.6rem">Todos los campos son obligatorios.</b>

                        <form action="/home-mongodb" method="POST">
                            <div class="form-group">
                                <input placeholder="Agregue un título..." class="form-control" type="text" name="title"
                                    required>
                            </div>
                            <div class="form-group">
                                <input placeholder="Agregue una descripción..." class="form-control" type="text"
                                    name="description" required>
                            </div>
                            <div class="form-group">
                                <input placeholder="Agregue un código..." class="form-control" type="text" name="code"
                                    required>
                            </div>
                            <div class="form-group">
                                <input placeholder="Agregue un precio..." class="form-control" type="number"
                                    name="price" required>
                            </div>
                            <div class="form-group">
                                <input placeholder="Agregue un stock..." class="form-control" type="number" name="stock"
                                    required>
                            </div>
                            <div class="form-group">
                                <input placeholder="Agregue una categoría..." class="form-control" type="text"
                                    name="category" required>
                            </div>
                            <div class="form-group">
                                <label for="category">Owner:</label>
                                <input class="form-control" type="text" name="owner" value="{{productossFull.[20]}}"
                                    readonly>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                        </form>

                    </div>
                </div>

                {{else}}

                <h4 class="title-bloqueo-crud mb-5 mt-5" style="font-size: 1.8rem; "> ¡Disculpanos! Al tener un rol
                    distinto a "premium" no tenes
                    derecho
                    a agregar o eliminar
                    productos 🛑 </h4>

                {{/if}}

            </div>
        </div>
</section>

{{> footerPrueba}}

<script src="/socket.io/socket.io.js"></script>
<script src="../Routes/views.router.js"></script>
<script src="/js/index.js"></script>